.footer-background{
    background: #EBEBEB;
    padding: 20px 20px;
    
  }
  
  .footer-room-menu{
  display: flex;
  /* justify-content: space-around; */
  cursor: pointer;
  color: #8c8888d2;
  border-bottom: 1px solid rgb(182, 179, 179);
  padding-bottom: 10px;
  padding-left: 40px;
  }
  
  .footer-room-menu div{
  width: 200px;
  }
  
  .footer-room-menu div:hover{
    color: green;
    font-weight: 700;
  }
  
  .footer-main-font{
    font-size: 20px;
  }
  
  
  .footer-suport{
    display:flex;
    flex-direction: column;
  margin-bottom: 50px;
  
  
  }
  
  .footer-suport a{
    text-decoration: none;
    padding: 6px 0px;
    margin-left: 50px;
    color: black;
  }
  
  .lasthelpline{
    display: flex;
  
    /* border-top: 1px solid rgb(182, 179, 179); */
  
    margin-top:50px;
  
  
  }
  
  .lasthelpline div{
  margin-right: 225px;
    
  
  }
  
  
  .tab-contents{
    display: none;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(182, 179, 179);
  
  }
  
  .tab-contents.activeTab{
    display: block;
  }
  
  .footer-tablemenu tr th{
  font-weight: 100;
  padding-top: 20px;
  }
  
  
  
  ul{
    display: flex;
    cursor: pointer;
    list-style-type: none;
  
  }
  ul li{
    width: 200px;
  
  }
  
  @media (max-width: 800px) { 
    ul {
      display: flex;
      flex-direction: column;}}
  
     
  
      @media (max-width: 800px) { 
        .footer-suport {
         border: 2px dotted #eb966e;
        min-width: 300px;
      padding: 10px 10px;}}
      
  
         @media (max-width: 800px) { 
          .boxhidden {
           display: none;}}